<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="../static/pickups/styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>Quick Pickups</h1>
        <a  href="{% url 'sports:register' %}" rel="stylesheet"> register</a>
        <a  href="{% url 'sports:login' %}" rel="stylesheet">Login</a>
        <a  href="{% url 'sports:index' %}" rel="stylesheet"> home</a>
        {% if user.is_authenticated %}
            <p> You're log in</p>
            <a href="{% url 'sports:logout' %}" rel="stylesheet">Logout</a>
        {% endif %}
        
    </body>
</html>